.navbar-inverse .navbar-brand span, 
.about h1 span,.about h3 span,
.feature .feat span.glyphicon,
.testimonials span,
.our-team i,
.newsletter h2,
.footer h3,
.footer .copyright span,
.scroll{
	color: #ffee00;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.option-box .gear-check,
.slider .carousel-indicators .active,
.PTable .PBox .productinfo a,.newsletter .btn,.skill .progress-bar{
	background-color: #ffee00;
}

.navbar-nav > li > .dropdown-menu {
	border-top: 1px solid #ffee00;
}

.option-box .color-option,
.testimonials .carousel-indicators li,
.our-team2 .employee2-front img,
.our-team .employee img:hover,
.newsletter .btn{
	border: 1px solid #ffee00;
}

.employee2 > div{
	border: 2px solid #ffee00;
}